{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:dev {}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojurescript     {:mvn/version "1.11.60"}
    lambdaisland/kaocha           {:mvn/version "1.80.1274"}
    com.lambdaisland/kaocha-cljs      {:mvn/version "1.4.130"}
    lambdaisland/kaocha-junit-xml {:mvn/version "RELEASE"}
    org.clojure/test.check        {:mvn/version "1.1.1"}}}}}
